*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    background-color: #F0EDED;
}

section {
    margin-top: 10rem;
    
}

h1 {
    text-align: center; 
    margin-bottom: 2rem;
    font-weight: normal;
    font-size: 32px;
    color: #5e5e5e;
}

.container-grille-tarif {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50rem;
    margin: auto;
}


.container-column {
    width: 15rem;
    transition: box-shadow 0.3s ease;
}

.container-column:hover {
    box-shadow: 2px 2px 8px gray;
}

.container-column:hover h2 {
    color: #ffffffff;
    background-color: #2ECC71;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.container-column h2 {
    /* shape-outside: polygon(0 0, 100% 0, 100% 85%, 0% 100%); */
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    background-color: #E4E4E4;
    padding: 25px;
    font-weight: normal;
    margin-bottom: -14px;
    text-align: center;
    color: #5e5e5e;
}

.container-column h3 {
    font-weight: normal;
    background-color: #f5f5f5; 
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 19px;
    text-align: center;
    color: #5e5e5e;
}

.dollar-span {
    vertical-align: super;
}

.price-span {
    font-size: 36px;
    font-weight: normal;
}

.month-span {
    font-size: 14px;
}


ul {
    list-style-type: none;
    text-align: center;
    padding: 20px;
    background-color: #ffffffff;
  }

ul li {
    margin-bottom: 10px;
    color: #A7A7A7;
}

.values-list {
    color: #5e5e5e;
}

.button {
    display: inline-block;
    border: 1px solid #2ECC71;
    border-radius: 15px;
    background-color: #ffffffff;
    color: #2ECC71;
    font-size: 18px;
    padding: 5px 10px;
    text-decoration: none;
    transition: box-shadow 0.3s ease;
}

.button:hover {
    background-color: #2ECC71;
    color: #ffffffff;
    box-shadow: 2px 2px 8px gray;
    transition: color 0.3s ease, background-color 0.3s ease;
}